*{
    box-sizing: border-box;
}
body{
  background: rgb(194,193,209);
  background: linear-gradient(90deg, rgb(107, 219, 253)1%, rgba(247, 108, 235, 0.977)  52%, rgba(167,174,184,1) 87%); 
}
:root{
  font-size: 82.5%;
}
#heading
{
    font-size: xx-large;
    text-align: center;
}
h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0px 0px 7px #56504f,0px 0px 7px #56504f,0px 0px 7px #56504f;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-transform: uppercase;
  text-decoration-thickness:2px ;
}

.box{
   width: 600px;
   height: 320px;
   border-radius:10px;
   border-style:none;
   background: linear-gradient(90deg, rgb(107, 219, 253)1%, rgba(247, 108, 235, 0.977)  52%, rgba(167,174,184,1) 87%); 
   top:90px;
  
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.text_align_in_box{
    margin-left: 20px;
    font-size: 20px;
}
input[type=text] {
    width: 65%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=submit] {
    color: black;
    outline: none;
    background: transparent;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .5s;
    font: bold 16px 'Bitter', sans-serif
  }

button{
  position: relative;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    top:0px
}
.col-75 {
    width: 60%;
    margin-top: 7px;
    margin-left: 20px;

  }
  
  .col-25 {
    float: left;
    width:25%;
    margin-top:7px;
    
  }

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 100px;
    min-height: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 40;
    color: #04040e;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 200px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 3px;
    margin-left: -550px;
    margin-top: 40PX;
    }
  
  
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    border: 6px solid  rgb(194,193,209);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    100% {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }